html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
}



header {
    height: 80px;
    background-color: #FFF;
    font-size: 12px;
    font-family: Quicksand;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-transform: capitalize;
}

.header_container {
    display: flex;
    flex-direction: row;
}


a {
    color: #697CA6;
    text-decoration: none;

}

ul {
    list-style: none;
}

.menu {
    display: flex;
    flex-direction: row;
    width: 606px;
    height: 15px;
    padding: 33px 0 33px 0;
    gap: 36px
}

.logo {
    width: 26px;
    height: 26px;
    padding: 27px 420px 27px 6px;
}

.menu_list {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 39px
}

.home {
    color: #5E81FE;
    font-weight: 700;
}

.header_burger-btn {
    display: none;
    position: relative;
    margin: 15px 271px 35px 19px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    z-index: 2;
}

.header_burger-btn span {
    position: absolute;
    width: 30px;
    height: 5.29px;
    background-color: #47526C;
    left: 5px;
    transition: transform .5s, opacity .5s, background-color .5s;
}

.header_burger-btn span:nth-child(1) {
    transform: translateY(-12.35px);
}

.header_burger-btn span:nth-child(3) {
    transform: translateY(12.35px);
}

.header.open .header_burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header.open .header_burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .header_burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}




.start {
    background-color: #F5F8FF;
}

.cont {
    background-color: #FFF;
}

.allFirst {
    background-color: #FFF;
}


.rob {
    width: 93px;
    height: 12px;
    font-size: 10px;
    color: #3D4F9F;
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;

}

.quik {
    width: 253px;
    height: 29px;
    color: #3D4F9F;
    text-align: center;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
    font-size: 24px;
    letter-spacing: 0.5px;
}

.how {
    color: #3D4F9F;
    font-family: Quicksand;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.quidam {
    color: #8D96BD;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 191.016%;
    letter-spacing: 0.42px;
}

div.quidam {
    color: #8D96BD;
}

.text p {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-style: normal;
    font-weight: 500;
}


.butReadNow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttonRead {
    background-color: #D2E1FF;
    border-radius: 5%;
    color: #3A79FF;
    text-align: center;
}

.buttonAdd {
    background-color: #FFF;
    color: #A6B6DA;

}




.fivePic {
    background-color: #FFF;
}

.fivePic {
    display: flex;
    flex-direction: row;
}


.fivePic img {
    width: 116.741px;
    height: 26px;

}

.threePic {
    display: flex;
    flex-direction: row;
}


.twoPic {
    display: flex;
    flex-direction: row;
}





.allThirdSec {
    background-color: #F5F8FF;
}

.desk {
    width: 149px;
    height: 10px;

    color: #3D4F9F;
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
}

.plan {
    width: 299px;
    height: 40px;
    color: #3D4F9F;
    font-family: Quicksand;
    font-size: 36px;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
}

.plan span {
    font-weight: 1000;
}

.brute {
    color: #8D96BD;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 1000;
    line-height: 191.016%;
    letter-spacing: 0.6px;
}

.butThirdSec div {
    width: 136.473px;
    height: 43px;
    border: 1px solid #D1D1E4;
}


.buttonSee div {
    width: 92.328px;
    height: 17px;

    color: #ADB4D2;
    text-align: center;
    font-family: Quicksand;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 13px 22px 13px 22px;
    border: none;
}


/* @media screen and (max-width: 1500px) { */
    .all {
        width: 1440px;
    }



    .start {
        width: 1440px;
        height: 865px;
        background-color: #F5F8FF;

    }

    .cont {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 241px 213px 241px;
        padding: 0;
        width: 958;
        height: 394px;
    }

    .thirdImg img {
        width: 407px;
        height: 267px;
        padding: 60px 68px 67px 34px;
    }

    .textBut {
        width: 408px;
        height: 267px;
    }

    .howToStart div {
        text-align: left !important;
    }

    .quidam {
        font-size: 14px;
        font-style: normal;
        font-weight: 1000;
        line-height: 191.016%;
        letter-spacing: 0.6px;
        width: 408px;
        height: 116.254px;
        padding: 25px 0 37px 0;
        margin: 0;
    }

    .buttonRead {
        font-size: 13px;
        width: 113px;
        height: 49px;
    }

    .buttonRead div {
        padding: 13px 15px 13px 16px;
    }

    .buttonAdd {
        width: 211px;
        height: 43px;

    }

    .buttonAdd div {
        font-size: 13px;
        padding: 15px 8px 15px 27px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .rob {
        margin: 0;
        padding: 130px 671px 20px 672px;
    }

    .quik {
        width: 253.528px;
        height: 30px;
        margin: 0;
        padding: 0 592px 94px 595px;
    }

    .butReadNow {
        gap: 8px;
        width: 332px;
        height: 43px;
        margin: 0 76px 0 0;
    }






    .fivePic {
        width: 1440px;
        height: 152px;
    }

    .threePic {
        gap: 76.5px;
        padding: 67px 74px 59px 276px;
    }

    .twoPic {
        gap: 76.5px;
        padding: 67px 275px 59px 0;
    }






    .allThirdSec {
        width: 1440px;
        height: 776px;

    }

    .pictThirdSec img {
        width: 653px;
        height: 436px;

    }

    .contThirdSec {
        width: 1121px;
        height: 436px;
        display: flex;
        flex-direction: row;
        gap: 55px;
        padding: 163px 53px 177px 266px;
    }

    .text_and_but_third {
        width: 413px;
        height: 352px;
    }

    .desk {
        padding: 38px 264px 27px 0;
    }

    .plan {
        padding: 0 114px 27px 0;
    }

    .brute {
        width: 413px;
        height: 151px;
        padding: 0 0 47px 0;
    }

    .butThirdSec {
        padding: 0 209px 46px 128px;
    }

    .pictThirdSec {
        padding: 0 33px 0 0;
    }

/* } */



@media screen and (max-width: 960px) {
    .all {
        width: 720px;
    }

    .logo {
        padding: 27px 40px 37px 6px;
    }



    .start {
        width: 720px;
        height: 760px;
    }

    .cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 700px;
        height: 689px;
        margin: 0 10px 0 10px;
    }

    .thirdImg img {
        width: 407px;
        height: 267px;
        margin: 0;
        padding: 77px 146px 0px 147px;
    }

    .textBut {
        margin: 30px 146px 65px 146px;
        width: 408px;
        height: 250px;
    }

    .how {
        width: 359px;
        height: 45px;
        margin: 0;
    }


    .quidam {
        width: 408px;
        height: 116px;
        margin: 0;
        padding: 25px 0 0 0;
    }

    .howToStart {
        width: 408px;
        height: 193px;
    }

    .rob {
        padding: 17px 311px 10px 312px;
    }

    .quik {
        padding: 0 233px 0 234px;
    }

    .buttonRead {
        font-size: 13px;
        width: 113px;
        height: 42px;
    }

    .buttonAdd {
        width: 211px;
        height: 43px;

    }

    .buttonRead div {
        padding: 13px 15px 13px 16px;
    }

    .buttonAdd div {
        width: 181px;
        height: 17px;

        font-size: 13px;
        padding: 13px 11px 13px 11px;
    }

    .butReadNow {
        width: 324px;
        margin: 14px 69px 0 30px;
        gap: 0;
    }



    .fivePic {
        width: 720px;
        height: 130px;
    }

    .threePic {
        gap: 26.25px;
        padding: 39px 26.25px 65px 20px;
    }

    .twoPic {
        display: flex;
        flex-direction: row;
        gap: 26.25px;
        padding: 39px 11.42px 65px 0;
    }



    .allThirdSec {
        width: 720px;
        height: 770px;

    }

    .pictThirdSec img {
        width: 653px;
        height: 436px;

    }

    .contThirdSec {
        width: 653px;
        height: 745px;
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 12px 33px 13px 34px;
    }


    .text_and_but_third {
        width: 413px;
        height: 299px;
    }

    .desk {
        padding: 0 445px 27px 59px;
    }

    .plan {
        padding: 2px 291px 27px 63px;
    }

    .brute {
        width: 400px;
        height: 133px;
        padding: 0 177px 16px 63px;
    }

    .butThirdSec {
        padding: 0 326px 10px 196px;
    }

    .pictThirdSec {
        padding: 0;
    }

}

@media screen and (max-width: 400px) {
    .all {
        width: 320px;
    }

    .logo {
        display: none;
    }

    .socialMedia {
        display: none;
    }

    .header_burger-btn {
        display: block;
    }

    .menu {
        position: absolute;
        left: -126px;
        top: 0;
        width: 126px;
        height: 189px;
        background-color: #4074F8;
        padding: 0;
        transition: transform .5s;

    }

    .home {
        font-weight: 500;
    }

    .menu_list {
        display: block;
        width: 97px;
        height: 90px;
        padding-top: 84px;
        padding-left: 16px;
        margin: 0;
    }

    .menu_list li {
        width: 95px;
        height: 10px;
        padding-top: 10px;
    }

    .menu_list li a {
        width: 95px;
        height: 10px;
    }

    .menu_link {
        color: #FFF;
        display: block;
        padding: 0;
    }

    .menu_list li:nth-child(1) {
        padding: 0 0 5px 0;
    }

    .header.open .menu {
        transform: translateX(100%);
    }




    .start {
        width: 320px;
        height: 568px;
        padding: 0;
        margin: 0;
    }

    .rob {
        padding: 23px 110px 6px 113px;
        margin: 0;
    }

    .quik {
        padding: 0 33px 16px 34px;
        margin: 0;
    }


    .cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 320px;
        height: 483px;
        border: none;
    }

    .howToStart {
        width: 320px;
        height: 219px;
        margin: 0;
        padding: 0;
    }

    .how {
        width: 320px;
        height: 40px;
        font-size: 32px;
        text-align: left;
        padding: 0 0 16px 0;
    }

    .quidam {
        width: 298px;
        height: 158px;
        margin: 0 6px 0 16px;
        padding: 0;
    }

    .thirdImg img {
        width: 171px;
        height: 150px;
        margin: 0;
        padding: 0;
        padding: 8px 74px 0 74px;
    }

    .textBut {
        width: 320px;
        height: 323px;
        margin: 16px 0 17px 0;
    }


    .buttonRead {
        font-size: 10px;
        width: 82px;
        height: 35px;
        text-align: center;
    }

    .buttonAdd {
        width: 142px;
        height: 35px;
        text-align: center;
    }

    .buttonAdd div {
        font-size: 10px;
        width: 115px;
        height: 16px;
        padding: 8px 15px 11px 13px;
    }

    .butReadNow {
        display: flex;
        justify-content: center;
        width: 224px;
        height: 35px;
        margin: 30px 44px 0 51px;
        padding: 0;
        gap: 0;
    }



    .fivePic {
        display: flex;
        flex-direction: column;
        width: 320px;
        height: 105px;
    }

    .threePic {
        display: flex;
        flex-direction: row;
        gap: 21px;
        padding: 34px 14px 9px 15px;
    }

    .twoPic {
        display: flex;
        flex-direction: row;
        gap: 63px;
        padding: 0 68px 27px 39px;
    }

    .threePic img {
        width: 83px;
        height: 18px;
    }

    .atlassian img {
        width: 93px;
        height: 16px;
    }

    .audi img {
        width: 57px;
        height: 17px;
    }





    .allThirdSec {
        width: 320px;
        height: 543px;

    }

    .pictThirdSec img {
        width: 307.41px;
        height: 197px;

    }

    .contThirdSec {
        display: flex;
        flex-direction: column;
        gap:0;
        width: 317px;
        height: 518px;
        padding: 24px 2px 0 1px;
    }


    .text_and_but_third {
        width: 317px;
        height: 314px;
        padding-bottom: 7px;
    }

    .desk {
        padding: 0 163px 27px 4.2px;
    }

    .plan {
        width: 299px;
        height: 40px;
        padding: 0 18px 20px 0;
    }

    .brute {
        width: 314px;
        height: 160px;
        padding: 0 0 13px 3px;
    }

    .butThirdSec {
        padding: 0 87px 0 93px;
    }

    .pictThirdSec {
        padding: 0 4px 0 5px;
    }
}